# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
.venv/
env/

# Preprocessed datasets
preprocessing/Dry_Bean_Dataset_preprocessing/
Workflow-CI/MLProject/Dry_Bean_Dataset_preprocessing/

# MLflow (jangan ikut ke repo K1)
mlruns/
mlartifacts/
*.pkl
*.joblib
*.h5